<component name="ArtifactManager">
  <artifact type="war" name="SpringMvcStudy:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMvcStudy.war">
      <element id="artifact" artifact-name="SpringMvcStudy:war exploded" />
    </root>
  </artifact>
</component>